[Unit]
Description=log.service
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/bash /home/pi/log.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=1
User=root

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec

[Install]
WantedBy=timers.target
