[Unit]
Description=test.service Service

After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/datasender.py
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target