[Unit]
Description=pcf.service Service

After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/main_aid_ver3.py
WorkingDirectory=/home/pi/S
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target